/***************************
**********CSS***************
***************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100vh;
}

.firstBOX{
    display: flex;
    justify-content: flex-start;
    height: calc(100vh - 120px);
}

nav{
    height: 100%;
    width: 260px;
    background-color: #000;
    overflow: hidden;
}

.sidebar{
    height: calc(100% - 140px);
}

.block{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.logo{
    margin-bottom: 30px;
    width: 70%;
}

.navigation{
    width: 15%;
}

.logoSmall{
    display: none;
}

.flex:hover{
    border-left: 3px solid #adff2f;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.flexDirection{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.boxCrea{
    min-height: 30px;
    min-width: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subTitleSidebar{
    color: white;
    margin-left: 10px;
    white-space: nowrap;
}

#titlePlaylist{
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.blockScroll{
    height: calc(100% - 340px);
}

.scroll{
    height: 100%;
    overflow-y: auto;
}

ul{
    list-style: none;
    line-height: 35px;
    margin: 20px;
}

.nomePlaylistStyle{
    text-decoration: none;
    color: white;
}

.sideBar2{
    min-height: 120px;
}

.utente{
    padding: 20px;
}

.dowloadApp {
    border-bottom: 3px solid white;
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.installApp{
    width: 20px;
    margin-right: 10px;
}

#TextDecoration{
    color: white;
    text-decoration: none;
}

.account{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.profileAccount{
    width: 30px;
    background-color: #999;
    margin-right: 10px;
    border-radius: 50%;
}

#colorText{
    color: white;
}


/***********************************************
**********************MAIN*********************/

main {
    width: calc(100% - 260px);
    background-color: #141922;
    padding-top: 100px;
    overflow-y: scroll;
}

.firstSection{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.firstContentSection {
    width: calc(100% - 260px);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

#buttonUpgrade{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    font-size: 17px;
    border: 2px solid #fff;
    border-radius: 40px;
}

.secondSection{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: clamp(1em, 1px, 8em);
    margin-top: 10px;
}

.secondContentSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
}

.GeneriAlbumText:hover {
    transition: 1s;
    border-bottom: 5px solid #adff2f;
}

.decorationGeneri{
    color: white;
    text-decoration: none;
}

/* Pagina in row */

.thirdSection{
    padding-left: 12px;
    color: white;
}

/* First Row */
.recentlyAlbum{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.albumListen{
    padding: 5px;
    width: 15%;
    margin: 10px;
    text-align: center;
}

.albumCircle{
    position: relative;
}

.playCircle{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.albumListen:hover .playCircle{
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.album{
    width: 100%;
}

#SubtitleAlbum{
    font-size: medium;
}

.SubtitleAlbumListen{
    color: grey;
}

.thirdSection, h2{
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Second Row */

.fourthContentSection{
    padding-left: 12px;
    color: white;
}
    
.recentlyAlbumFlex{
    display: flex;
}

/* Third row */

.fifthContentSection{
    padding-left: 12px;
    color: white;
}

.albumRadius{
    border-radius: 50%;
    width: 100%;
}

/*************************************************
*********************Footer**********************/

.secondBOX{
    height: 120px;
}

footer{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: #222;
    overflow: hidden;
}
/* FOOTER LEFT */
.footerLeft{
    display: flex;
    width: 250px;
    padding: 15px;
}

.AlbumArtist {
    display: flex;
    align-items: center;
}

.imgAlbum {
    margin-right: 8px;
    width: 60px;
}

.NameMusic {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.loveSave {
    display: flex;
    align-items: center;
}

.love {
    margin: 10px;
}

i.far.fa-heart {
    color: white;
}

.save {
    margin: 10px;
}

i.far.fa-folder {
    color: white;
}

/* FOOTER CENTER */
.footerCenter{
    width: calc(100% - 500px);
    padding: 10px;
}

.commands{
    display: flex;
    justify-content: center;
}

.decorationFont{
    margin: 10px;
    color: white;
    font-size: 1.5rem;
}

.state{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.timeNow, .timeMusic{
    color: white;
}

.bar{
    width: 100%;
    height: 7px;
    margin: 0 20px;
    background-color: grey;
}

.stateBar{
    height: 100%;
    width: 40%;
    background-color: white;
}

/* FOOTER RIGHT */
.footerRight{
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.sound{
    width: 100%;
    height: 7px;
    margin-right: 10px;
    background-color: grey;
}

.stateSound{
    height: 100%;
    width: 20%;
    background-color: white;
}

/****************************************
***************MEDIA QUERY***************
****************************************/
/* tablet*/
@media screen and (max-width:768px) {
    .secondContentSection{
        display: flex;
        justify-content: space-between;
    }
    .GeneriAlbumText{
        margin: 4px;
        line-height: 40px;
    }
    .recentlyAlbum {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    .album{
        width: 100%;
    }
    .albumListen{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 25%;
    }
    
    .footerCenter{
        width: 50%;
        padding: 10px;
    }
    .footerRight{
        width: 30%;
    }
} 

@media screen and (max-width: 540px){
    .secondContentSection{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0px;
        padding: 26px;
    }
    .GeneriAlbumText{
        margin: 4px;
        line-height: 40px;
    }
    .recentlyAlbum {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    .album{
        width: 100%;
    }
    .albumListen{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 50%;
    }
}

/* MOBILE */
@media screen and (max-width:480px){
    main{
        width: calc(100% - 80px);
    }
    nav{
        width: 80px;
    }
    .logoSpotify{
        display: none;
    }
    .logoSmall{
        display: block;
        width: 80%;
    }
    .subTitleSidebar{
        display: none;
    }
    .creaPlaylist{
        display: none;
    }
    .blockScroll{
        display: none;
    }
    #TextDecoration{
        display: none;
    }
    #colorText{
        display: none;
    }
    .navigation, .utente{
        width: 100%;
    }
    .home, .cerca, .libreria, .installApp, .profileAccount{
        width: 50%;
    }
    .dowloadApp{
       border-bottom: none;
    }
    .utente{
        padding: 15px;
    }
    .firstSection{
        display: flex;
        justify-content: right;
    }
    .firstContentSection{
       margin-right: 80px;
    }
    #buttonUpgrade{
        white-space: nowrap;
        font-size: small;
    }
    .secondContentSection{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 20px;
        padding: 18px;
    }
    .GeneriAlbumText{
        margin: -10px;
        line-height: 74px;
    }
    .recentlyAlbum {
        display: flex;
        flex-wrap: wrap;
    }
    .albumListen{
        width: 44%;
    }
    footer{
        width: 100%;
    }
    .footerLeft{
        width: 25%;
    }
    .loveSave{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
    }
    .AlbumArtist ,.NameMusic,.loveSave{
        width: 70%;
    }
    .footerRight{
        width: 25%;
        display: flex;
        flex-direction: column;
    }
    .state{
        width: 100%;
    }
    footer{
        justify-content: space-between;
    }
    .footerCenter{
        justify-content: end;
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 28px;
        align-items: center;
        margin-left: 20px;
    }
}


@media screen and (max-height:350px) {
    .sideBar2{
        display: none;
    }
}




