/***************************
**********CSS***************
***************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
}

.firstBOX{
    display: flex;
    justify-content: flex-start;
    height: calc(100vh - 120px);
}

nav{
    height: 100%;
    width: 260px;
    background-color: #000;
    overflow: hidden;
}

.sidebar{
    height: calc(100% - 120px);
}

.block{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.logo{
    margin-bottom: 30px;
    width: 70%;
}

.navigation{
    width: 15%;
}

.logoSmall{
    display: none;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.boxCrea{
    min-height: 30px;
    min-width: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subTitleSidebar{
    margin-left: 10px;
    white-space: nowrap;
}

#titlePlaylist{
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.blockScroll{
    height: calc(100% - 340px);
}

.scroll{
    height: 100%;
    overflow-y: auto;
}

ul{
    list-style: none;
    line-height: 35px;
    margin: 20px;
}

.nomePlaylistStyle{
    text-decoration: none;
    color: white;
}

.sideBar2{
    min-height: 120px;
}

.utente{
    padding: 20px;
}

.dowloadApp {
    border-bottom: 3px solid white;
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.installApp{
    width: 20px;
    margin-right: 10px;
}

#TextDecoration{
    text-decoration: none;
}

.account{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.profileAccount{
    width: 30px;
    background-color: #999;
    margin-right: 10px;
    border-radius: 50%;
}

#colorText{
    color: white;
}


/***********************************************
**********************MAIN*********************/

main {
    width: calc(100% - 260px);
    background-color: #52565e;
    padding-top: 100px;
    overflow-y: scroll;
}

.firstSection{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: grey;
    z-index: 1;
}

.firstContentSection {
    width: calc(100% - 260px);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

/*************************************************
*********************Footer**********************/

.secondBOX{
    height: 120px;
}

footer{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #222;
}