/***************************
**********CSS***************
***************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
}

.firstBOX{
    display: flex;
    justify-content: flex-start;
    height: calc(100vh - 120px);
}

nav{
    height: 100%;
    width: 260px;
    background-color: #000;
    overflow: hidden;
}

.sidebar{
    height: calc(100% - 120px);
}

.block{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo{
    margin-bottom: 30px;
    width: 70%;
}

.navigation{
    width: 15%;
}

.logoSmall{
    display: none;
}

.navHome , .navCerca, .navLibreria{
    margin-bottom: 5px;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.subTitleSidebar{
    margin-left: 10px;
    white-space: nowrap;
}

.boxCrea{
    min-height: 30px;
    min-width: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


/***********************************************
**********************MAIN*********************/

main {
    width: calc(100% - 260px);
    background-color: #52565e;
    padding-top: 100px;
    overflow-y: scroll;
}

.firstSection{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: grey;
    z-index: 1;
}

.firstContentSection {
    width: calc(100% - 260px);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

/*************************************************
*********************Footer**********************/

.secondBOX{
    height: 120px;
}

footer{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #222;
}